ul{
    padding: unset;
    row-gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    width: fit-content;
    margin: auto;
    align-items: start;
}

.buttonDelete{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.buttonDelete:hover{
    background-color: rgba(245, 245, 245, 0.895);
}
mat-form-field{
    display: block;
    width: 20%;
    margin: 0 40%;
}